<style>
  .search-btn{
   margin:auto;
  }
  .search{
    border-radius: 20px;
    width:150px;
    padding:5px 25px 5px 25px;
  }
  .search1{
      border-radius: 20px;
      width:250px;
      padding:5px 20px 5px 20px;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-solid fa-globe"></i></a>
      <a href="/listings" class="navbar-brand nav-link"><b>WanderLust</b></a>
      <button class="navbar-toggler" type="button"
       data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"  >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings"><b>Explore</b></a>  
        </div>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <form class="d-flex search-btn" action="/listings/search" method="get">
    <input class="form-control me-2 search1" type="search" name="q"
     placeholder="Search">
    <button class="btn add-btn btn-dark search" type="submit">
      <i class="fa-solid fa-magnifying-glass"></i> &nbsp;&nbsp;&nbsp;Search</button>
  </form>
</div>
        <div class="navbar-nav ms-auto">
           <a class="nav-link" href="/listings/new"><b>Add</b></a>
          <% if(!curruser){ %>
          <a class="nav-link"  href="/signup"><b>SignUp</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
          <% } %>
             <% if(curruser){ %>
          <a class="nav-link" href="/logout"><b>Log Out</b></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>